h1,h2 { color: green; text-align: center; }

.headingmerah {color: red; text-align: left;}
h2.headingmerah {color: maroon; text-align: center;}

#myid { color: blueviolet; text-align: right; }

p {color: blue; text-align: justify;}
div { border: 2px solid magenta; }